.offcanvas-collapse {
  position: fixed;
  top: 56px;
  /* Height of navbar */
  bottom: 0;
  right: 100%;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  overflow-y: auto;
  visibility: hidden;
  background-color: #343a40;
  transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.offcanvas-collapse.open {
  visibility: visible;
  transform: translateX(100%);
}

#plusCircle {
  width: 10px;
  height: 20px;
}

.main {
  max-width: 750px;
}
